<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<!--
   Auth0.plist
   Tracmobility

   Created by Emil Vaklinov on 09/02/2021.
   Copyright (c) 2021 ___ORGANIZATIONNAME___. All rights reserved.
-->
<plist version="1.0">
<dict>
   <key>ClientId</key>
   <string>YOUR_CLIENT_ID</string>
   <key>Domain</key>
   <string>YOUR_DOMAIN</string>
</dict>
</plist>
