<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ClientId</key>
	<string>h2RrJwsUloUJMrC8VfRgHnOaJzx9kg1F</string>
	<key>Domain</key>
	<string>dev-1i3ydrd3.eu.auth0.com</string>
</dict>
</plist>
